// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gravatar {
  margin-top: 2px;
  margin-bottom: 5px;
  border-top: 5px;
  border-bottom: 5px;
  border-right: 5px;
  border-left: 5px;
  border-style: solid;
  border-color: lighten(blue,10);
}
